{
  "openapi": "3.0.0",
  "info": {
    "title": "Shopware Admin API",
    "version": "3"
  },
  "servers": [
    {
      "url": "http:\/\/jbi.shopwaretest.de\/public\/api\/v3"
    }
  ],
  "paths": {
    "\/paypal\/payment-details\/{orderId}\/{paymentId}": {
      "get": {
        "tags": [
          "PayPal"
        ],
        "description": "Loads the Payment details of the given PayPal ID",
        "operationId": "paymentDetails",
        "parameters": [
          {
            "parameter": "orderId",
            "name": "orderId",
            "in": "path",
            "description": "ID of the order which contains the PayPal payment",
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "paymentId",
            "name": "paymentId",
            "in": "path",
            "description": "ID of the PayPal payment",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the PayPal payment",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        }
      }
    },
    "\/paypal\/resource-details\/{resourceType}\/{resourceId}\/{orderId}": {
      "get": {
        "tags": [
          "PayPal"
        ],
        "description": "Loads the PayPal resource details of the given resource ID",
        "operationId": "resourceDetails",
        "parameters": [
          {
            "parameter": "resourceType",
            "name": "resourceType",
            "in": "path",
            "description": "Type of the resource. Possible values: sale, authorization, order, capture, refund",
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "resourceId",
            "name": "resourceId",
            "in": "path",
            "description": "ID of the PayPal resource",
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "orderId",
            "name": "orderId",
            "in": "path",
            "description": "ID of the order which contains the PayPal resource",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the PayPal resource",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        }
      }
    },
    "\/_action\/paypal\/saleschannel-default": [],
    "\/acl-role": {
      "get": {
        "tags": [
          "Acl Role"
        ],
        "summary": "List with basic information of Acl Role resources",
        "operationId": "getAclRoleList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max amount of resources to be returned in a page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to be returned",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Encoded SwagQL in JSON",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Acl Role resources.",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/data"
                            },
                            {
                              "type": "array",
                              "items": {
                                "$ref": "#\/components\/schemas\/acl_role"
                              }
                            }
                          ]
                        },
                        "links": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/pagination"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "first": {
                                  "example": "\/acl-role?limit=25"
                                },
                                "last": {
                                  "example": "\/acl-role?limit=25\u0026page=11"
                                },
                                "next": {
                                  "example": "\/acl-role?limit=25\u0026page=4"
                                },
                                "prev": {
                                  "example": "\/acl-role?limit=25\u0026page=2"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/acl_role_flat"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "post": {
        "tags": [
          "Acl Role"
        ],
        "summary": "Create a new Acl Role resources",
        "description": "Create a new Acl Role resources. All required fields must be provided in order to create a new resource successfully.",
        "operationId": "createAclRole",
        "parameters": [
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "detail"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/acl_role"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/acl_role_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of acl_role",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/acl_role"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/acl_role_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/acl-role\/{id}": {
      "get": {
        "tags": [
          "Acl Role"
        ],
        "summary": "Detailed information about a Acl Role resource",
        "operationId": "getAclRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the acl_role",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail of acl_role",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/acl_role"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/acl_role_flat"
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "delete": {
        "tags": [
          "Acl Role"
        ],
        "summary": "Delete a Acl Role resource",
        "operationId": "deleteAclRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the acl_role",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#\/components\/responses\/204"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "patch": {
        "tags": [
          "Acl Role"
        ],
        "summary": "Partially update information about a Acl Role resource",
        "operationId": "updateAclRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the acl_role",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Partially update information about a Acl Role resource.",
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/acl_role"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/acl_role_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of acl_role",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/acl_role"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/acl_role_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/app": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "List with basic information of App resources",
        "operationId": "getAppList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max amount of resources to be returned in a page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to be returned",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Encoded SwagQL in JSON",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of App resources.",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/data"
                            },
                            {
                              "type": "array",
                              "items": {
                                "$ref": "#\/components\/schemas\/app"
                              }
                            }
                          ]
                        },
                        "links": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/pagination"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "first": {
                                  "example": "\/app?limit=25"
                                },
                                "last": {
                                  "example": "\/app?limit=25\u0026page=11"
                                },
                                "next": {
                                  "example": "\/app?limit=25\u0026page=4"
                                },
                                "prev": {
                                  "example": "\/app?limit=25\u0026page=2"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/app_flat"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "post": {
        "tags": [
          "App"
        ],
        "summary": "Create a new App resources",
        "description": "Create a new App resources. All required fields must be provided in order to create a new resource successfully.",
        "operationId": "createApp",
        "parameters": [
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "detail"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/app"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/app_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of app",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/app"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/app_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/app\/{id}": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Detailed information about a App resource",
        "operationId": "getApp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the app",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail of app",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/app"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/app_flat"
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "delete": {
        "tags": [
          "App"
        ],
        "summary": "Delete a App resource",
        "operationId": "deleteApp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the app",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#\/components\/responses\/204"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "patch": {
        "tags": [
          "App"
        ],
        "summary": "Partially update information about a App resource",
        "operationId": "updateApp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the app",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Partially update information about a App resource.",
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/app"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/app_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of app",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/app"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/app_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/app-action-button": {
      "get": {
        "tags": [
          "App Action Button"
        ],
        "summary": "List with basic information of App Action Button resources",
        "operationId": "getAppActionButtonList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max amount of resources to be returned in a page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to be returned",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Encoded SwagQL in JSON",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of App Action Button resources.",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/data"
                            },
                            {
                              "type": "array",
                              "items": {
                                "$ref": "#\/components\/schemas\/app_action_button"
                              }
                            }
                          ]
                        },
                        "links": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/pagination"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "first": {
                                  "example": "\/app-action-button?limit=25"
                                },
                                "last": {
                                  "example": "\/app-action-button?limit=25\u0026page=11"
                                },
                                "next": {
                                  "example": "\/app-action-button?limit=25\u0026page=4"
                                },
                                "prev": {
                                  "example": "\/app-action-button?limit=25\u0026page=2"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/app_action_button_flat"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "post": {
        "tags": [
          "App Action Button"
        ],
        "summary": "Create a new App Action Button resources",
        "description": "Create a new App Action Button resources. All required fields must be provided in order to create a new resource successfully.",
        "operationId": "createAppActionButton",
        "parameters": [
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "detail"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/app_action_button"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/app_action_button_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of app_action_button",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/app_action_button"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/app_action_button_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/app-action-button\/{id}": {
      "get": {
        "tags": [
          "App Action Button"
        ],
        "summary": "Detailed information about a App Action Button resource",
        "operationId": "getAppActionButton",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the app_action_button",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail of app_action_button",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/app_action_button"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/app_action_button_flat"
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "delete": {
        "tags": [
          "App Action Button"
        ],
        "summary": "Delete a App Action Button resource",
        "operationId": "deleteAppActionButton",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the app_action_button",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#\/components\/responses\/204"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "patch": {
        "tags": [
          "App Action Button"
        ],
        "summary": "Partially update information about a App Action Button resource",
        "operationId": "updateAppActionButton",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the app_action_button",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Partially update information about a App Action Button resource.",
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/app_action_button"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/app_action_button_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of app_action_button",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/app_action_button"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/app_action_button_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/app-template": {
      "get": {
        "tags": [
          "App Template"
        ],
        "summary": "List with basic information of App Template resources",
        "operationId": "getAppTemplateList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max amount of resources to be returned in a page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to be returned",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Encoded SwagQL in JSON",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of App Template resources.",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/data"
                            },
                            {
                              "type": "array",
                              "items": {
                                "$ref": "#\/components\/schemas\/app_template"
                              }
                            }
                          ]
                        },
                        "links": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/pagination"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "first": {
                                  "example": "\/app-template?limit=25"
                                },
                                "last": {
                                  "example": "\/app-template?limit=25\u0026page=11"
                                },
                                "next": {
                                  "example": "\/app-template?limit=25\u0026page=4"
                                },
                                "prev": {
                                  "example": "\/app-template?limit=25\u0026page=2"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/app_template_flat"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "post": {
        "tags": [
          "App Template"
        ],
        "summary": "Create a new App Template resources",
        "description": "Create a new App Template resources. All required fields must be provided in order to create a new resource successfully.",
        "operationId": "createAppTemplate",
        "parameters": [
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "detail"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/app_template"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/app_template_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of app_template",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/app_template"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/app_template_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/app-template\/{id}": {
      "get": {
        "tags": [
          "App Template"
        ],
        "summary": "Detailed information about a App Template resource",
        "operationId": "getAppTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the app_template",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail of app_template",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/app_template"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/app_template_flat"
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "delete": {
        "tags": [
          "App Template"
        ],
        "summary": "Delete a App Template resource",
        "operationId": "deleteAppTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the app_template",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#\/components\/responses\/204"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "patch": {
        "tags": [
          "App Template"
        ],
        "summary": "Partially update information about a App Template resource",
        "operationId": "updateAppTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the app_template",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Partially update information about a App Template resource.",
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/app_template"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/app_template_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of app_template",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/app_template"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/app_template_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/b2b-customer-data": {
      "get": {
        "tags": [
          "B2b Customer Data"
        ],
        "summary": "List with basic information of B2b Customer Data resources",
        "operationId": "getB2bCustomerDataList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max amount of resources to be returned in a page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to be returned",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Encoded SwagQL in JSON",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of B2b Customer Data resources.",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/data"
                            },
                            {
                              "type": "array",
                              "items": {
                                "$ref": "#\/components\/schemas\/b2b_customer_data"
                              }
                            }
                          ]
                        },
                        "links": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/pagination"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "first": {
                                  "example": "\/b2b-customer-data?limit=25"
                                },
                                "last": {
                                  "example": "\/b2b-customer-data?limit=25\u0026page=11"
                                },
                                "next": {
                                  "example": "\/b2b-customer-data?limit=25\u0026page=4"
                                },
                                "prev": {
                                  "example": "\/b2b-customer-data?limit=25\u0026page=2"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/b2b_customer_data_flat"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "post": {
        "tags": [
          "B2b Customer Data"
        ],
        "summary": "Create a new B2b Customer Data resources",
        "description": "Create a new B2b Customer Data resources. All required fields must be provided in order to create a new resource successfully.",
        "operationId": "createB2bCustomerData",
        "parameters": [
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "detail"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/b2b_customer_data"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/b2b_customer_data_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of b2b_customer_data",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/b2b_customer_data"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/b2b_customer_data_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/b2b-customer-data\/{id}": {
      "get": {
        "tags": [
          "B2b Customer Data"
        ],
        "summary": "Detailed information about a B2b Customer Data resource",
        "operationId": "getB2bCustomerData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the b2b_customer_data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail of b2b_customer_data",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/b2b_customer_data"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/b2b_customer_data_flat"
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "delete": {
        "tags": [
          "B2b Customer Data"
        ],
        "summary": "Delete a B2b Customer Data resource",
        "operationId": "deleteB2bCustomerData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the b2b_customer_data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#\/components\/responses\/204"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "patch": {
        "tags": [
          "B2b Customer Data"
        ],
        "summary": "Partially update information about a B2b Customer Data resource",
        "operationId": "updateB2bCustomerData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the b2b_customer_data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Partially update information about a B2b Customer Data resource.",
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/b2b_customer_data"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/b2b_customer_data_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of b2b_customer_data",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/b2b_customer_data"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/b2b_customer_data_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/b2b-in-stocks": {
      "get": {
        "tags": [
          "B2b In Stocks"
        ],
        "summary": "List with basic information of B2b In Stocks resources",
        "operationId": "getB2bInStocksList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max amount of resources to be returned in a page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to be returned",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Encoded SwagQL in JSON",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of B2b In Stocks resources.",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/data"
                            },
                            {
                              "type": "array",
                              "items": {
                                "$ref": "#\/components\/schemas\/b2b_in_stocks"
                              }
                            }
                          ]
                        },
                        "links": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/pagination"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "first": {
                                  "example": "\/b2b-in-stocks?limit=25"
                                },
                                "last": {
                                  "example": "\/b2b-in-stocks?limit=25\u0026page=11"
                                },
                                "next": {
                                  "example": "\/b2b-in-stocks?limit=25\u0026page=4"
                                },
                                "prev": {
                                  "example": "\/b2b-in-stocks?limit=25\u0026page=2"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/b2b_in_stocks_flat"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "post": {
        "tags": [
          "B2b In Stocks"
        ],
        "summary": "Create a new B2b In Stocks resources",
        "description": "Create a new B2b In Stocks resources. All required fields must be provided in order to create a new resource successfully.",
        "operationId": "createB2bInStocks",
        "parameters": [
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "detail"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/b2b_in_stocks"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/b2b_in_stocks_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of b2b_in_stocks",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/b2b_in_stocks"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/b2b_in_stocks_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/b2b-in-stocks\/{id}": {
      "get": {
        "tags": [
          "B2b In Stocks"
        ],
        "summary": "Detailed information about a B2b In Stocks resource",
        "operationId": "getB2bInStocks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the b2b_in_stocks",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail of b2b_in_stocks",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/b2b_in_stocks"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/b2b_in_stocks_flat"
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "delete": {
        "tags": [
          "B2b In Stocks"
        ],
        "summary": "Delete a B2b In Stocks resource",
        "operationId": "deleteB2bInStocks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the b2b_in_stocks",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#\/components\/responses\/204"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "patch": {
        "tags": [
          "B2b In Stocks"
        ],
        "summary": "Partially update information about a B2b In Stocks resource",
        "operationId": "updateB2bInStocks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the b2b_in_stocks",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Partially update information about a B2b In Stocks resource.",
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/b2b_in_stocks"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/b2b_in_stocks_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of b2b_in_stocks",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/b2b_in_stocks"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/b2b_in_stocks_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/b2b-order-number": {
      "get": {
        "tags": [
          "B2b Order Number"
        ],
        "summary": "List with basic information of B2b Order Number resources",
        "operationId": "getB2bOrderNumberList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max amount of resources to be returned in a page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to be returned",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Encoded SwagQL in JSON",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of B2b Order Number resources.",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/data"
                            },
                            {
                              "type": "array",
                              "items": {
                                "$ref": "#\/components\/schemas\/b2b_order_number"
                              }
                            }
                          ]
                        },
                        "links": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/pagination"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "first": {
                                  "example": "\/b2b-order-number?limit=25"
                                },
                                "last": {
                                  "example": "\/b2b-order-number?limit=25\u0026page=11"
                                },
                                "next": {
                                  "example": "\/b2b-order-number?limit=25\u0026page=4"
                                },
                                "prev": {
                                  "example": "\/b2b-order-number?limit=25\u0026page=2"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/b2b_order_number_flat"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "post": {
        "tags": [
          "B2b Order Number"
        ],
        "summary": "Create a new B2b Order Number resources",
        "description": "Create a new B2b Order Number resources. All required fields must be provided in order to create a new resource successfully.",
        "operationId": "createB2bOrderNumber",
        "parameters": [
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "detail"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/b2b_order_number"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/b2b_order_number_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of b2b_order_number",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/b2b_order_number"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/b2b_order_number_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/b2b-order-number\/{id}": {
      "get": {
        "tags": [
          "B2b Order Number"
        ],
        "summary": "Detailed information about a B2b Order Number resource",
        "operationId": "getB2bOrderNumber",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the b2b_order_number",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail of b2b_order_number",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/b2b_order_number"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/b2b_order_number_flat"
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "delete": {
        "tags": [
          "B2b Order Number"
        ],
        "summary": "Delete a B2b Order Number resource",
        "operationId": "deleteB2bOrderNumber",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the b2b_order_number",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#\/components\/responses\/204"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "patch": {
        "tags": [
          "B2b Order Number"
        ],
        "summary": "Partially update information about a B2b Order Number resource",
        "operationId": "updateB2bOrderNumber",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the b2b_order_number",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Partially update information about a B2b Order Number resource.",
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/b2b_order_number"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/b2b_order_number_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of b2b_order_number",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/b2b_order_number"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/b2b_order_number_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/category": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "List with basic information of Category resources",
        "operationId": "getCategoryList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max amount of resources to be returned in a page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to be returned",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Encoded SwagQL in JSON",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Category resources.",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/data"
                            },
                            {
                              "type": "array",
                              "items": {
                                "$ref": "#\/components\/schemas\/category"
                              }
                            }
                          ]
                        },
                        "links": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/pagination"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "first": {
                                  "example": "\/category?limit=25"
                                },
                                "last": {
                                  "example": "\/category?limit=25\u0026page=11"
                                },
                                "next": {
                                  "example": "\/category?limit=25\u0026page=4"
                                },
                                "prev": {
                                  "example": "\/category?limit=25\u0026page=2"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/category_flat"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "post": {
        "tags": [
          "Category"
        ],
        "summary": "Create a new Category resources",
        "description": "Create a new Category resources. All required fields must be provided in order to create a new resource successfully.",
        "operationId": "createCategory",
        "parameters": [
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "detail"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/category"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/category_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of category",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/category"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/category_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/category\/{id}": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Detailed information about a Category resource",
        "operationId": "getCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the category",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail of category",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/category"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/category_flat"
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "delete": {
        "tags": [
          "Category"
        ],
        "summary": "Delete a Category resource",
        "operationId": "deleteCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the category",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#\/components\/responses\/204"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "patch": {
        "tags": [
          "Category"
        ],
        "summary": "Partially update information about a Category resource",
        "operationId": "updateCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the category",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Partially update information about a Category resource.",
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/category"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/category_flat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detail of category",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/category"
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/category_flat"
                }
              }
            }
          },
          "400": {
            "$ref": "#\/components\/responses\/400"
          },
          "404": {
            "$ref": "#\/components\/responses\/404"
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      }
    },
    "\/cms-block": {
      "get": {
        "tags": [
          "Cms Block"
        ],
        "summary": "List with basic information of Cms Block resources",
        "operationId": "getCmsBlockList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max amount of resources to be returned in a page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to be returned",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Encoded SwagQL in JSON",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Cms Block resources.",
            "content": {
              "application\/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#\/components\/schemas\/success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/data"
                            },
                            {
                              "type": "array",
                              "items": {
                                "$ref": "#\/components\/schemas\/cms_block"
                              }
                            }
                          ]
                        },
                        "links": {
                          "allOf": [
                            {
                              "$ref": "#\/components\/schemas\/pagination"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "first": {
                                  "example": "\/cms-block?limit=25"
                                },
                                "last": {
                                  "example": "\/cms-block?limit=25\u0026page=11"
                                },
                                "next": {
                                  "example": "\/cms-block?limit=25\u0026page=4"
                                },
                                "prev": {
                                  "example": "\/cms-block?limit=25\u0026page=2"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/cms_block_flat"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/401"
          }
        }
      },
      "post": {
        "tags": [
          "Cms Block"
        ],
        "summary": "Create a new Cms Block resources",
        "description": "Create a new Cms Block resources. All required fields must be provided in order to create a new resource successfully.",
        "operationId": "createCmsBlock",
        "parameters": [
          {
            "name": "_response",
            "in": "query",
            "description": "Data format for response. Empty if none is provided.",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "detail"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application\/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#\/components\/schemas\/cms_block"
                  },
                  "included": {
                    "type": "array",
                    "items": {
                      "$ref": "#\/components\/schemas\/resource"
                    },
                    "uniqueItems": true
                  }
                }
              }
            },
            "application\/json": {
[...]
