<?doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" />
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body>
<div id="wrapper">
    <form  method="post" id="review" name="review">
            <div class="reviewsummary">
                <div class="reviewcount">Review count $reviewcount</div>
                <div class="overallrating">Overall rating $overallrating</div>
             </div>
        <div class = "reviewswrapper">
  			#foreach($review in $reviews)
                <div class="review">
                    <div class="reviewdate"> Date  $review.date</div>
                    <div class="reviewrating">Rating $review.rating</div>
                    <div class="reviewcomment">Comment $review.comment</div>
                 </div>
            #end
           <div class="feedbackBottom">
           </div>
        </div>
    </form>
</div>
</body>
</html>









