#set( $title = "Dashboard" )
#parse('../includes/velocity_header.vm')

<main class="public">
    <form  method="post" id="azquoform" name="azquoform">
        <h1>$welcome</h1>
        <div class = "reportwrapper">
			<table>
				<thead>
					<tr>
						 #if($report.image)<td>Image</td>#end
						<td>Name</td>
						<td>Explanation</td>
						<td>#</td>
					</tr>
				</thead>
				<tbody>	
           			 #foreach($report in $reports)
              		<tr >
						 #if($report.image)<td><div class="reportimage">$report.image</div></td>#end
						<td><div class="reportname"><a href="$report.link"> $report.name</a></div></td>
						<td><div class="reportexplanation">$report.explanation</div></td>
						<td><a href="$report.link" class="button small"><span class="fa fa-eye"></span></a></td>
					</tr>
           			 #end
            	</tbody>
            </table>	
        </div>
    </form>
</main>
#parse('../includes/velocity_footer.vm')