<!doctype html>
<html lang="en-US">
<head>

    <!-- Mobile Specific Metas -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Basic Page Needs -->
    <title>Azquo Reviews: Please write your review for $suppliername</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href=""/>

    <!-- pingback -->
    <link rel="pingback" href="http://www.azquoreviews.com/xmlrpc.php"/>
    <!--[if IE]><![endif]-->

    <!--styling-->


    <link rel="alternate" type="application/rss+xml" title="Azquo Reviews &raquo; Feed"
          href="http://www.azquoreviews.com/feed/"/>
    <link rel="alternate" type="application/rss+xml" title="Azquo Reviews &raquo; Comments Feed"
          href="http://www.azquoreviews.com/comments/feed/"/>
    <link rel="alternate" type="application/rss+xml"
          title="Azquo Reviews &raquo; Please write your review for $suppliername Comments Feed"
          href="http://www.azquoreviews.com/reviews/write/feed/"/>$suppliername
    <link rel='stylesheet' id='bs_bootstrap-css'
          href='http://www.azquoreviews.com/wp-content/plugins/bootstrap-shortcodes/css/bootstrap.css?ver=4.0'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='bs_shortcodes-css'
          href='http://www.azquoreviews.com/wp-content/plugins/bootstrap-shortcodes/css/shortcodes.css?ver=4.0'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='contact-form-7-css'
          href='http://www.azquoreviews.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.9.3'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='style-name-css'
          href='http://www.azquoreviews.com/wp-content/themes/azquo/style.css?ver=4.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='redux-google-fonts-css'
          href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%2C800%2C300italic%2C400italic%2C600italic%2C700italic%2C800italic&#038;subset=latin&#038;ver=1412910041'
          type='text/css' media='all'/>
    <script type='text/javascript'
            src='http://www.azquoreviews.com/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
    <script type='text/javascript'
            src='http://www.azquoreviews.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript'
            src='http://www.azquoreviews.com/wp-content/plugins/bootstrap-shortcodes/js/bootstrap.js?ver=4.0'></script>
    <script type='text/javascript'
            src='http://www.azquoreviews.com/wp-content/plugins/bootstrap-shortcodes/js/init.js?ver=4.0'></script>
    <script type='text/javascript'
            src='http://www.azquoreviews.com/wp-content/themes/azquo/js/gen_validatorv4.js?ver=4.0'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.azquoreviews.com/xmlrpc.php?rsd"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="http://www.azquoreviews.com/wp-includes/wlwmanifest.xml"/>
    <meta name="generator" content="WordPress 4.0"/>
    <link rel='canonical' href='http://www.azquoreviews.com/reviews/write/'/>
    <link rel='shortlink' href='http://www.azquoreviews.com/?p=73'/>
    <link rel="stylesheet" id="dynamic-css" href="http://www.azquoreviews.com/wp-content/themes/azquo/css/azquo.css"
          type="text/css" media="all"/>
</head>
<body class="page page-id-73 page-child parent-pageid-14 page-template page-template-template-write-review-php">


<div class="entire-site-wrap">
    <div class="site-margin">
        <div class="site-wrap-shadow">
            <header class="header-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="logo">
                                <a href="http://www.azquoreviews.com" title="http://www.azquoreviews.com">
                                    <img src="http://www.azquoreviews.com/wp-content/uploads/2014/10/azquo-logo-main.png "
                                         data-at2x="http://www.azquoreviews.com/wp-content/uploads/2014/10/azquo-logo-main.png"/>
                                </a>
                            </div>
                            <!--end logo-->
                        </div>

                        <div class="col-md-9 rel">
                            <div class="supplierlogo"><img src="$supplierlogo" height="80"></div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </header>
            <!-- end of menu and logo section -->

            <section class="section-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="nomargin lh-40">Please write your review for $suppliername</h1>

                            <p class="intro lh-40">$intro
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-wrap nopads">
                <div class="container">
                    <div class="row">
                        <div>
                            <article class="singlepost">
                                <div class="singlewrap">


                                    <form id="review" name="review" class="review" method="post">
                                        <div id="review_errorloc"></div>

                                        <div class="reviews">
                                            <fieldset>
                                                <legend class="col-md-12"><span
                                                        class="glyphicon glyphicon-pencil"></span> Please review the
                                                    company and service you received
                                                </legend>

                                                #foreach($review in $reviews)
                                                    #if($review.type eq "service")
                                                        <div class="review">
                                                            <div class="col-md-2 reviewlabel"><label for="rating${review.productCode}">
                                                                Please tell us your <b>Service</b> rating for <b>$suppliername</b>                    <b>$review.product</b>
                                                                *</label><span class="arrow"></span>
                                                            </div>
									                        <span class="ratingwrap">
                                                                #rating(${review.productCode})

                                                                <div class="col-md-10"><textarea id="comment${review.productCode}" aria-required="true" rows="8"
                                                                                                 cols="45" class="input-large-review"
                                                                                                 name="comment${review.productCode}"
                                                                                                 placeholder="Please enter your comments here"></textarea>

                                                                    <div class="clear"></div>
                                                                </div>
										<div class="clear"></div>
									                        </span>
                                                        </div>

                                                    #end
                                                #end
                                            </fieldset>
                                        </div>

                                        <div class="reviews">
                                            <fieldset>
                                                <legend class="col-md-12"><span
                                                        class="glyphicon glyphicon-pencil"></span> Please review your
                                                    products
                                                </legend>

                                                #foreach($review in $reviews)
                                                    #if($review.type eq "product")
                                                        <div class="review">
                                                            <div class="col-md-2 reviewlabel"><label for="rating${review.productCode}">Please
                                                                rate: <b>$review.product</b>
                                                                *</label><span class="arrow"></span>
                                                            </div>
									                        <span class="ratingwrap">
                                                                #rating(${review.productCode})

										<div class="col-md-10"><textarea id="comment${review.productCode}" aria-required="true" rows="8"
                                                                         cols="45" class="input-large-review"
                                                                         name="comment${review.productCode}"
                                                                         placeholder="Please enter your comments here"></textarea>

                                            <div class="clear"></div>
                                        </div>
										<div class="clear"></div>
									                        </span>
                                                        </div>

                                                    #end
                                                #end

                                            </fieldset>
                                        </div>

                                        <p class="form-submit" align="center">
                                            <input id="submit" type="submit" value="Post Feedback" class="btn"
                                                   name="$submit">
                                            <input type="hidden" name="connectionid" id="connectionid"
                                                   value="$connectionid">
                                        </p>
                                    </form>

                                    <script type="text/javascript">
                                        $validationscript
                                    </script>
                                </div>
                            </article>
                        </div>
                        <!--end 12 col -->


                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>


            <section class="section-wrap nopads">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 lh-40">
                                <p>
                                    <small>* Please note that your feedback is PUBLIC and will be displayed immediately
                                        on our website.
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

  #macro(rating $productcode)
            <div class="col-md-2"><input type="radio" name="rating$productcode" value="5">
                Excellent
            </div>
            <div class="col-md-2"><input type="radio" name="rating$productcode" value="4"> Good
            </div>
            <div class="col-md-2"><input type="radio" name="rating$productcode" value="3"> Fair
            </div>
            <div class="col-md-2"><input type="radio" name="rating$productcode" value="2"> Poor
            </div>
            <div class="col-md-2"><input type="radio" name="rating$productcode" value="1"> Bad
            </div>
 #end

</body>
</html>