<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.4/jstree.min.js"></script>
	<link rel="stylesheet" href="/css/themes/proton/style.min.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.4/themes/default/style.min.css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body class="jstree">
<div id="js-wrapper">
	<form method="post" id="names" name="names">
		<div id="js-container" class="js-col2"></div>
		
		<div class="js-col2">
			<div id="attributeList">
				<label for="attributeChosen"> Attribute (language)</label>
				<select class="simpleselect" id="attributeChosen" onchange="changeLanguage()">
				#foreach($attribute in $attributes)
					<option value="$attribute"
						#if ($attribute == $attributeChosen)
							selected
						#end
						>
						$attribute
					</option>
				#end
				</select>
			</div>
			
			<div>
				<label for="itemschosen">Select items:</label>
				<input class="itemselect" type="text" value="" id="itemschosen" name="itemschosen"/>
			</div>
			
			<div class="choicesubmit" style="margin-top:10px;"><p><input type="submit" onclick="submitChoice()" class="button" value="Show data"></p></div>
		</div>
    </form>
	<div class="namedetails" id="namedetails" style="display:none">
		<div class="namedetailsinner">
			<div class="closebutton">
				<a href="#" onclick="hideDetails();"><span class="fa fa-times-circle"></span></a>
			</div>
			<div class="propertyname">
				<h3>Property Name</h3>
				<div class="value">
					<label for="DEFAULT_DISPLAY_NAME">Name</label>
					<input name="DEFAULT_DISPLAY_NAME" id="DEFAULT_DISPLAY_NAME" type="text" value="" class="attvalue">
				</div>
			</div>
			<div class="attributes">
				<h3>Attributes:</h3>
				<div id="htmlatts"></div>
			</div>
			<div class="propertystats">
				<div class="datacount"> 
					Direct data count <b><span id="mydatacount"></span></b> Total Data Count <b><span id="totaldatacount"></span></b>
				</div>
				<h3>Provenance:</h3>
				<div id="provenance"></div>
			</div>
			<div class="namedetailssubmit">
				<p><a href="#" onclick="submitNameDetails()" class="button">Submit</a></p>
			</div>
			<div class="clear"></div>
		</div>
	</div>

    <script type="text/javascript">
		var parents = $parents;
		var searchNames = "$searchnames";
		var seeParents = "See parents";
		if (parents==true){
			seeParents="See children";
		}
		if (searchNames==null){
			searchNames = "";
		}
		var nameChosenNo = 0;

		$.jstree.defaults.dnd.check_while_dragging = false;
		$.jstree.defaults.dnd.inside_pos = "last";
		$(function() {
			$('#js-container').jstree({
				'core' : {
					'data' : {
						"state" : {"opened" : true },
						"url" : "/api/Jstree?op=children&topnode=$rootid&parents=" + parents + "&itemschosen=" + searchNames + "&attribute=" + decodeURI(document.getElementById("attributeChosen").value),
						"dataType": "JSON",
						"data" : function (node) {
							return { "id" : node.id };
						}
					},
                    "check_callback" : true
                    /*"check_callback" : function (operation, node, parent, position, more) {
                        azquojson("Jstree","op=" + operation + "&id=" + node.id + "&position=" + position + "&parent=" + parent.id);
                        //carry on, but let the json feed flag the errors
                        return true; // allow everything else
                    },
                    "themes": {
                        "name": "proton",
                        "responsive": true
                    }
                    */
				},
				"plugins" : ["dnd","contextmenu"],
				"contextmenu":{
					"items": function($node) {
						var tree = $("#js-container").jstree(true)
						var menu =  {
							createItem : {
								"label" : "New Name",
								"action" : function(obj) {
									newNode = tree.create_node($node);
									tree.open_node($node);
									},
								"_class" : "class"
							},/*
							renameItem : {
								"label" : "Rename",
								"action": function (obj) {
									tree.edit($node);
								}
							},
							deleteItem : {
								"label" : "Remove Name",
								"action" : function(obj) { tree.delete_node($node)}
							},
							cutItem:{
								"label" : "Cut Name",
								"action" : function(obj) { tree.cut($node)}
							},
							copyItem:{
								"label" : "Copy Name",
								"action" : function(obj) { tree.copy($node)}
							},
							pasteItem:{
								"label" : "Paste Name",
								"action" : function(obj) {
									var newNode=tree.paste($node);
									tree.edit(newNode);
								}
							},*/
							editAttributes:{
								"label" : "Edit attributes",
								"action" :function(obj){editAttributes($node)}
							},
							seeParents:{
								"label":  seeParents,
								"action" :function(obj) {
									var url = "/api/Jstree?op=new&id=" + $node.id;
									if (!parents) {
										url += "&parents=true";
									}

									window.parent.$.inspectOverlay().tab(url, 'Parent');
									//window.open(url, "_blank", "toolbar=no, status=no,scrollbars=yes, resizable=yes, top=150, left=200, width=600, height=600")
								}

							}
						};
						return menu;
					}
				}

			}).on('create_node.jstree', function (e, data) {
                $.get('/api/Jstree?op=create_node', { 'id' : data.node.parent, 'position' : data.position, 'text' : data.node.text })
                        .done(function (d) {
                            data.instance.set_id(data.node, d);
                            editAttributes(data.node); // here when the id has been sorted??
                        })
                        .fail(function () {
                            data.instance.refresh();
                        });
            })/*.on('rename_node.jstree', function (e, data) {
                $.get('response.php?operation=rename_node', { 'id' : data.node.id, 'text' : data.text })
                        .fail(function () {
                            data.instance.refresh();
                        });
            }).on('delete_node.jstree', function (e, data) {
                $.get('response.php?operation=delete_node', { 'id' : data.node.id })
                        .fail(function () {
                            data.instance.refresh();
                        });
            });*/

			;
		});


		$('#js-container').on("create_node.jstree", function (e, data) {
			console.log(data.instance.get_selected(true)[0].text);
		});


		function changeLanguage(){
			window.parent.$.inspectOverlay().tab("/api/Jstree?op=new&attribute=" + document.getElementById("attributeChosen").value + "&id=0", document.getElementById("attributeChosen").value);
			//window.open("/api/Jstree?op=new&attribute=" + document.getElementById("attributeChosen").value + "&id=0", "_blank", "toolbar=no, status=no,scrollbars=yes, resizable=yes, top=150, left=200, width=600, height=600")

		}

		function submitChoice(){
			var itemsChosen = "";
			if (document.getElementById("itemschosen").value == "") {
				var selected = $('#js-container').jstree("get_selected");
				var itemsChosen = "jstreeids:";
				for (item in selected) {
					itemsChosen += selected[item] + ",";
				}
			} else {
				itemsChosen = document.getElementById("itemschosen").value;
			}
	
			window.parent.$.inspectOverlay().tab(window.location + "&itemschosen=" + itemsChosen, 'Show Data');
			//window.open("/api/Showdata?chosen=" + itemsChosen, "_blank", "toolbar=no, status=no,scrollbars=yes, resizable=yes, top=150, left=200, width=600, height=800")
		}

		function hideDetails(){
			document.getElementById("namedetails").style.display='none';
		}

		function addAttribute(i, attname, attvalue){
			var htmlAtts = document.getElementById("htmlatts");
			htmlAtts.innerHTML += "<div class=\"namedetailsline\">" +
					"<div class = \"name\"><input id=\"attname" + i + "\" class=\"attname\" type=\"text\" value=\"" + attname + "\" placeholder=\"Attribute Name\"/></div>" +
					"<div class=\"value\"><textarea class=\"attvalue\" id=\"attvalue" + i + "\" cols=\"40\">" + attvalue + "</textarea></div>" +
					"</div>"

		}

		function editAttributes($node){
			azquojson("Jstree","op=details&id="+$node.id);
			nameChosenNo = $node.id;
		}

		function showNameDetails(nameDetails){
			document.getElementById("htmlatts").innerHTML = "";
			//currently ignoring the 'dataelements' 'elements'  'mydataelements'  values
			var keys = Object.keys(nameDetails.attributes);
			document.getElementById("mydatacount").innerHTML = nameDetails.mydataitems;
			document.getElementById("totaldatacount").innerHTML = nameDetails.dataitems;
			document.getElementById("provenance").innerHTML = nameDetails.provenance;
			for (var i=0;i < keys.length;i++){
				var attname = keys[i];
				var attvalue =  decodeURIComponent((nameDetails.attributes[attname]+'').replace("%","%25").replace(/\+/g, '%20'));
				if (attname== "DEFAULT_DISPLAY_NAME"){
					document.getElementById("DEFAULT_DISPLAY_NAME").value = attvalue;
				}else{
					if (attname!="RPCALC"){
						addAttribute(i, attname, attvalue)
					}
				}

			}
			addAttribute(i,"","");
			document.getElementById("namedetails").style.display = "block";
		}


		function submitNameDetails(){
			var json = "\"operation\":\"edit\",\"id\":" + nameChosenNo + ",\"attributes\":{\"DEFAULT_DISPLAY_NAME\":\"" + document.getElementById("DEFAULT_DISPLAY_NAME").value + "\"";
			for (var i= 0; i<20;i++){//max number of attributes = 20 - arbitrary
				var attname = document.getElementById("attname" + i);
				if (attname != null) {
					if (attname.value > ""){
						json += ",\"" + attname.value + "\":" + encodeURIComponent(JSON.stringify(document.getElementById("attvalue" + i).value)) + "";
					}
				}
			}
			json +="}";
			hideDetails();
			azquojson("Jstree", "json={" + json + "}");
//            var node = $('#js-container').jstree(true).get_node(nameChosenNo);
            $('#js-container').jstree('rename_node', nameChosenNo, document.getElementById("DEFAULT_DISPLAY_NAME").value);
		}


		function azquojson(functionName, params){
			var htmlText = "/api/" + functionName + "?" + params + "&attribute=" + encodeURI(document.getElementById("attributeChosen").value);
			var script = document.createElement('script'),
					head = document.getElementsByTagName('head')[0] || document.documentElement;
			script.src = htmlText;
			head.appendChild(script);
		}


		function azquojsonfeed(obj) {


			if (obj==null) return;
			if (obj.response > ""){
				 if (obj.response!=true){
					alert("Server " + obj.response)
				}
			}
			if (obj.namedetails >""){
				showNameDetails(obj.namedetails);
			}
		}

    </script>
    $message
</div>
</body>
</html>